<h2 class="text-center mt-4">Team satus</h2>
<div class="card-columns mt-4">
  <div class="card" *ngFor="let reply of replies">
    <div class="card-body">
      <h5 class="card-title">{{reply.contributor_firstname + " " + reply.contributor_lastname}}</h5>
      <div class="row">
        <div>
          <h6 class="card-title">Mood: {{reply.mood_text}}</h6>
        </div>
        <div class="ml-1">
          <i class="material-icons">{{reply.mood_icon}}</i>
        </div>
      </div>
      <p class="card-text">{{reply.comment}}</p>
      <p class="card-text"><small class="text-muted">{{reformatDate(reply.publish_date)}}</small></p>
    </div>
  </div>
</div>
<div class="mt-4">
  <h3 class="ml-2 mb-4">Contributors without replies</h3>
  <div *ngFor="let contributor of contributorsUnreplied">
    <h5><span class="badge indigo float-left ml-2">{{contributor.firstname + " " + contributor.lastname}}</span></h5>
  </div>
</div>
