<h2 class="text-center mt-4">Team satus</h2>
<div class="card-columns mt-4">
  <div class="card" *ngFor="let reply of replies">
    <div class="card-body">
      <h5 class="card-title">{{reply.user.firstname + " " + reply.user.lastname}}</h5>
      <div class="row">
        <div>
          <h6 class="card-title">Mood: {{reply.mood.text}}</h6>
        </div>
        <div class="ml-1">
          <i class="material-icons">{{reply.mood.icon}}</i>
        </div>
      </div>
      <p class="card-text">{{reply.comment}}</p>
      <p class="card-text"><small class="text-muted">{{reformatDate(reply.publish_date)}}</small></p>
    </div>
  </div>
  <!--<div class="card">-->
    <!--<div class="card-body">-->
      <!--<h5 class="card-title">Vasia Pupkin</h5>-->
      <!--<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
      <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="w-100 d-none d-xl-block">&lt;!&ndash; wrap every 5 on xl&ndash;&gt;</div>-->
  <!--<div class="card">-->
    <!--<div class="card-body">-->
      <!--<h5 class="card-title">Vasia Pupkin</h5>-->
      <!--<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
      <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="card">-->
    <!--<div class="card-body">-->
      <!--<h5 class="card-title">Vasia Pupkin</h5>-->
      <!--<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
      <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="card">-->
    <!--<div class="card-body">-->
      <!--<h5 class="card-title">Vasia Pupkin</h5>-->
      <!--<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
      <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="card">-->
    <!--<div class="card-body">-->
      <!--<h5 class="card-title">Vasia Pupkin</h5>-->
      <!--<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
      <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="card">-->
    <!--<div class="card-body">-->
      <!--<h5 class="card-title">Vasia Pupkin</h5>-->
      <!--<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
      <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
    <!--</div>-->
  <!--</div>-->
</div>
