<section class="py-4 text-center text-lg-left" *ngIf="!isAuthorized()">
  <h2 class="text-center">To become a chosen one you must be logged in.</h2>
</section>

<section class="py-4 text-center text-lg-left" *ngIf="isAuthorized()">
  <div class="row">
    <div class="col-md-4 mt-1">
      <h2>Team Kotlin</h2>
      <table class="table table-hover mt-4">
        <thead>
        <tr>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let contributor of contributors">
          <td class="cursor-pointer">{{contributor.lastname + " " + contributor.firstname}}</td>
        </tr>
        </tbody>
      </table>
      <button mdbBtn type="button" color="indigo" class="waves-light" routerLink="/team-status" mdbWavesEffect>Team Status</button>
    </div>

    <div class="col-md-8">
      <div class="row mb-1">
        <div class="my-auto">
          <h3>Reply statuses</h3>
        </div>
        <div>
          <button type="button" class="ml-3 btn btn-primary btn-round" routerLink="/add-reply" >Add reply</button>
        </div>
      </div>
      <div class="m-y-rl-15">
          <div class="card card-cascade narrower">
            <div *ngFor="let reply of replies" class="tab-slider--body">
              <a (click)="showContent(reply.id)" class="list-group-item list-group-item-action flex-column align-items-start" [ngClass]="isAdmin() ? 'pb-50px' : ''">
                  <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">{{reply.contributor_firstname + " " + reply.contributor_lastname}}</h5>
                  <div>
                    <h5 class="float-left mr-1">Status: {{reply.mood_text}}</h5>
                    <i class="material-icons">{{reply.mood_icon}}</i>
                  </div>
                  <small>Published: {{reformatDate(reply.publish_date)}}</small>
                </div>
                <p class="mb-1">Location: {{reply.location_name}}</p>
                <div id="{{reply.id}}" class="truncate">
                  <small>{{reply.comment}}</small>
                </div>
                <div *ngIf="isAdmin()" class="right-pos">
                  <button type="button" class="ml-3 mb-0 btn btn-danger btn-round btn-sm" (click)="deleteReplyId = reply.id; openDeleteConfirmationDialog()" >Delete reply</button>
                </div>
              </a>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
