<div class="mt-5">
  <div class="col-md-6 m-auto">
    <form [formGroup]="replyForm">
      <div class="form-group">
        <label for="contributor">Contributor:</label>
        <select class="form-control" required id="contributor" formControlName="contributor">
          <option *ngFor="let contributor of contributors" [ngValue]="contributor">{{contributor.lastname + " " + contributor.firstname}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="mood">Mood:</label>
        <select class="form-control" required id="mood" formControlName="mood">
          <option *ngFor="let mood of moods" [ngValue]="mood">{{mood.text}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="location">Location:</label>
        <select class="form-control" required id="location" formControlName="location">
          <option *ngFor="let location of locations" [ngValue]="location">{{location.name}}</option>
        </select>
      </div>
      <!--<div class="md-form form-group">-->
        <!--<textarea type="text" id="comment" class="md-textarea form-control" formControlName="comment" mdbInputDirective></textarea>-->
        <!--<label for="comment">Comment</label>-->
      <!--</div>-->
      <div class="form-group">
        <label class="mb-1" for="areaComment">Comment</label>
        <textarea type="text" id="areaComment" formControlName="comment" class="form-control h-150px"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" (click)="addReply()">Add reply</button>
        <a [routerLink]="['/']" class="btn btn-link">Cancel</a>
      </div>
    </form>
  </div>
</div>
